* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
}

.main-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.list,
.stats,
.directors {
  padding: 20px 0;
}

.main-content__title,
.list__title {
  margin: 10px 0;
  font-weight: 500;
}

.list__info {
  font-size: 0.9em;
}

.series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.serie {
  height: 422px;
  margin-bottom: 20px;
  position: relative;
}

.serie .icon--delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.serie:hover .icon--delete {
  display: block;
}

.serie__poster {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.serie__title {
  font-weight: 500;
}

.score {
  display: flex;
}

.ranking-list {
  display: flex;
  justify-content: space-between;
}

.ranking-item {
  width: 30%;
}

.main-content__title {
  display: inline-block;
  vertical-align: middle;
}
